html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  height: 100%;
}

.page-header {
  text-align: "center";
  height: 64px;
  line-height: 64px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
}

.page-content {
  display: flex;
  padding: 0 100px;
}

.chat-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.chat-list {
  flex: 1;
  overflow: hidden;
}

.chat-item {
  font-size: 16px;
  line-height: 24px;
  padding: 5px 20px;
}
.chat-item + .chat-item {
  margin-top: 4px;
}

.chat-item.text-Human {
  background-color: aquamarine;
  text-align: right;
}

.chat-item.text-AI {
  background-color: aqua;
  text-align: left;
}

.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.chat-input {
  flex: 1;
  height: 60px;
}
.send-btn-container {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}

.chat-config {
  width: 480px;
  padding: 40px;
}

.title {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}
.page-footer {
  text-align: center;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
}
